$ltgreen: #B0CE69;
$green: #98C442;
$blue: #00A79B;
$brown: #978475;
$orange: #FF911E;
$grey: #808080;



$color__background-body: #fff;
$color__background-screen: #fff;
$color__background-hr: $grey;
$color__background-button: $brown;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #666;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $orange;
$color__link-visited: $grey;
$color__link-hover: $brown;
$color__text-main: #404040;

$color__border-button: none;
$color__border-button-hover: none;
$color__border-button-focus: none;
$color__border-input: #ccc;
$color__border-abbr: #666;
