h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
  font-family: $qu;
  font-size: em(50);
  color: $blue;
  font-weight: normal;
  margin-left: 15%
}

h1.white {
  font-family: $qu;
  font-size: em(36);
  color: white;
  font-weight: normal;
  padding-left: 10%;
  text-transform: uppercase;
  margin: 0;
}

h1.learn {
  background-color: $brown;
}

h1.act {
  background-color: $blue;
}


h1.give {
  background-color: $green;
}


h1.special {
    font-family: $qu;
    color: white;
    font-weight: bold;
    font-size: em(36);
  }

h1.special2 {
    font-family: $rob;
    color: white;
    font-weight: normal;
    font-size: em(36);
    text-align: center;
    margin-left: 3%;
    margin-top: 50px;
  }
  
.general-pages h1 {
  margin-bottom: 0;
}  


h2 {
  font-family: $qu;
  font-size: em(32);
  color: $blue;
  font-weight: normal; 
}


.general-pages h2 {
  margin-top: 0;
  margin-bottom: 0;

}

h3 {
  font-family: $treb;
  font-size: em(22);
  color: $grey;
  font-weight: bold;
}

.general-pages h3 {
  margin: 0;
  color: $blue;
  font-size: em(20);

  
}

h4 {
  font-family: $treb;
  font-size: em(18);
  color: $grey;
  font-weight: bold;
}


.general-pages h4 {
  margin-bottom: 0;
}


hr {
  border-bottom: 1px $grey dotted;
}

//blog styles
.post .entry-title, .post .entry-title a, .post .entry-title a:visited  {
  color: $blue;
  margin-bottom: 0;
  margin-top: 0;
}

.post .entry-title a:hover {
  color: $orange;
}

.single h3 {
  color: $blue;
}