.main-navigation {  
  margin-top: em(10);
}


.site-title {
    margin: 0;
}

.site-title img {
  @include span-columns (2);
  margin-left: 9%;
  z-index: 100;
    position: relative;
}

.site-description {
  display: none;
}