//////////////HERO AREA////////////////

.page-id-2 h1 {
  display: none;
}

.page-id-2 #main {
  margin-bottom: -221px;
}

.page-id-2 .entry-content {
    margin-top: -142px;
    position: relative;
    z-index: -1;   
  }
  
.page-id-2 .entry-content p {
    color: white;
    font-family: $rob;
    font-size: em(50);
    position: absolute;
    top: 100px;
    left: 425px;
    z-index: 1;
}  

#CTA {
  position: relative;
  top: -525px;
  left: 500px;
}
   
.page-id-2 button {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  border: none;
  box-shadow: none;
  margin-right: 50px;
}  



.learn-button, .act-button, .give-button {
  font-size: 50px;
  color: white;
  font-family: $qu;
  text-transform: uppercase;
  padding: 0; 
}


.learn-button {
  background-color: $brown;
}  

.learn-button:hover {
      background-color: lighten($brown, 20%);
  }


.act-button {
  background-color: $blue;
}

.act-button:hover {
      background-color: lighten($blue, 10%);
  }


.give-button {
  background-color: $green;
}

.give-button:hover {
      background-color: lighten($green, 20%);
  }



//////////////HOME OFFER AREA////////////////
#home-offer {
  background-color: $blue;
  padding-top: 10px;
  overflow: auto;
  min-height: 200px;
}


h1.home-offer-title {
  display: inline-block;
  color: white;
  font-family: $qu;
  font-size: em(40);
  margin-left: 9%;
  margin-top: 10px;
  margin-bottom: 0;
  

}

.home-offer-description {
  display: inline-block;
  color: white;
  font-family: $treb;
  font-size: em(20);
  margin: 0;
  line-height: 36px;
  padding-bottom: em(22);
  width: 45%;
  margin-left: 9%;
  a {
    text-decoration: none;
  }
}

.home-offer-description p {
  color: white;
  margin: 0;
}




//mailchimp form
#mc_embed_signup {
    display: inline-block;
  background: none;
  width: 350px;
  float: right;
  margin-right: 15%;
}

#mc_embed_signup h2 {
  color: white;
  font-family: $rob;
  font-weight: normal;
  letter-spacing: .1em;
}


#mc_embed_signup .mc-field-group label {
  display: none !important;
}

#mc_embed_signup div.mce_inline_error {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    font-weight: normal !important;
}

#mc_embed_signup #mce-success-response {
    color: white !important;
    margin: 0 !important;
    padding: 0 !important;
}


#mc_embed_signup div#mce-responses {
    padding: 0 !important;
    width: 100% !important;
    margin: 0 0 3% 3% !important;
}


#mc_embed_signup div.response {
    width: 95% !important;
}










